*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body {
   box-sizing: inherit;
   font-family: "Work Sans", sans-serif;
   color: #fff;
}
.wrapper {
   background-color: #17171c;
   width: 400px;
   height: 600px;
   margin: 0 auto;
   margin-top: 50px;
   padding: 25px 20px;
}

.out {
   display: flex;
   align-items: flex-end;
   justify-content: end;
   font-weight: 300;
   font-size: 96px;
   line-height: 96px;
   height: 96px;
   overflow: clip;
   margin-bottom: 1rem;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}
.btn-container {
   display: grid;
   grid-template-areas:
      "edits edits edits operation"
      "number number number operation";
   grid-gap: 10px;
}
.edit {
   grid-area: edits;
   display: grid;
   grid-template-columns: 2fr 1fr;
   justify-content: center;
   grid-gap: 10px;
   align-items: center;
}

.numbers {
   grid-area: number;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   grid-gap: 10px;
   align-items: center;
}

.operations {
   grid-area: operation;
   display: grid;
   grid-template-columns: 1fr;
   justify-content: center;
   grid-gap: 10px;
   align-items: center;
}

.btn-number {
   text-align: center;
   padding: 20px 25px;
   background-color: #2e2f38;
   border-radius: 24px;
   font-weight: 400;
   font-size: 32px;
   cursor: pointer;
   user-select: none;
}
.btn-number:hover {
   filter: brightness(120%);
   -webkit-filter: brightness(120%);
}
.btn-number:active {
   filter: brightness(90%);
   -webkit-filter: brightness(90%);
}
.btn-number.three-fr {
   grid-column-start: 1;
   grid-column-end: 4;
}

.clear {
   background-color: #4e505f;
}

.operation {
   background-color: #4b5efc;
}
